<!DOCTYPE html>
<html lang="en" xmlns:th="http:/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Initiation</title>
<!--    <link rel="stylesheet" href="../../styles/main/initiation_style.css">-->
</head>
<body>

<!--Begin-->

<!--text-align: center;-->
<!--margin: auto;-->

<!--<br/>-->

<!--<style>-->
<!--    .center{-->
<!--        display: flex;-->
<!--    }-->
<!--</style>-->

<!--<style>-->
<!--    .button{-->
<!--        margin: auto;-->
<!--        display: block;-->
<!--    }-->
<!--</style>-->

<!--<div class = "center">-->
<!--    <button type = "button">-->
<!--        <a href="/CapitalStore/main/login">Login</a>-->
<!--    </button>-->

<!--    <button type = "button">-->
<!--        <a href="/CapitalStore/main/registration">Registration</a>-->
<!--    </button>-->
<!--</div>-->

<div>
    <button type = "button">
        <a href="/CapitalStore/main/login">Login</a>
    </button>

    <button type = "button">
        <a href="/CapitalStore/main/registration">Registration</a>
    </button>
</div>

<!--<form th:action="@{/main/login}" method="get">-->
<!--    <input type="submit" value="Login"/>-->
<!--</form>-->

<!--<form th:action="@{/main/registration}" method="PATCH">-->
<!--    <input type="submit" value="Registration"/>-->
<!--</form>-->

</body>
</html>